body{
    background-color: rgb(144, 144, 144);
    display: flex;
    align-items: center;
    justify-content: center;
  
    min-height: 400px; 
    
}

.d-head,.d-sub{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

.d-sub{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 25px;
}

.d-head{
    display: flex;
    align-items: center;
    padding-left: 50px;
    padding-right: 25px;
    padding-bottom: 10px;
    font-weight: 900;
}

.modal{
   
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    border: none ;
    border-radius: 8px;
    height: 200px;

}

.close,.note{
    border-radius: 8px;
    border: none;
}

.note{
    background-color: rgb(206, 212, 255);
    width: 30px;
    height: 30px;
    max-width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: rgb(66, 91, 255);   
    margin-left: 20px;
}

.cont,.canc{
   
    border-radius: 5px;
    width: 80px;
    height: 25px;   
    gap:5px;
    margin-top: 6px;
}

.cont{
    border: none;
    background-color:  rgb(66, 91, 255);
    color: white;
    margin-left: 50px;
    cursor: pointer ;
}

.canc{
    background-color: white;
    border: rgb(228, 228, 228) solid 1px;
    cursor: pointer;
}

.top-row{
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
}

.close {
    /* pushes it all the way right */
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
}

