.flex-container{
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content:sp;
    align-items: flex-end;
    gap: 8px;
}

.flex-container div{
    background-color: rgb(223, 195, 151);
    border:solid 4px brown;
    height: 50px;
    width: 50px;
    align-self: center;
}

