.flex-container{
    display: flex;
}

.flex-container div{
    background-color: rgb(223, 195, 151);
    border:solid 4px brown;
    height: 100px;
    flex: 1;
}

.flex-container .two{
    flex: 1;
}