body{
    border: 4px solid;
    margin:auto;
    flex-wrap: wrap;
    flex-shrink: 1;
    
}

.header{
    padding-top: 20px;
    padding-left: 80px;
    background-color: #1f2937;
    color: white;
    height: 440px;
    justify-content: flex-start;
    justify-content: space-between;
    margin:auto;
}

.top-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
   

}

.head-txt{
    display: flex;
    padding-top: 110px;
    width: 550px;
    color:white;
    font-size: 60px;
    font-weight: 900;
}

.placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#6a6b6c; 
    width: 250px;
    height: 150px;

}

.signup{
    
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.hl{
    display: flex;
    font-size: 30px;
    font-weight: 900;
    
}

a{
    color: white;
    text-decoration: none;
   
}

.body1{
    background-color: white;
    color: black;
    height: 440px;
}

.boxes{
    display: flex;
    background-color:white;
    padding-top: 40px;
    justify-content: center;
    gap: 85px;
    
    
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    text-align: center;
}

.b-head{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-weight: 900;
    font-size: 30px;


}

.box{
    background-color: white;
    color: #1f2937;
    height: 135px;
    border: solid 4px rgb(37, 106, 255);
    width: 135px;
    border-radius: 8px;

}

.subtext{
    margin-top: 8px;
}

.body2{
    display: flex;
    background-color: #e5e7eb;
    color: black;
    height: 280px;
    align-items: center;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
}

.quote{
    display: flex;
    max-width: 640px;
    width:630px;
    font-size: 30px;
    font-weight: lighter;
}

.person,#auth{
    font-weight: 900;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-end;
    width: 700px;
}

.body3{

    background-color: rgb(37, 106, 255);
    color: white;
    max-width: 800px;
    border-radius: 6px;
    margin: 30px 30px 30px 200px ;
}



.b3-signup{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}